<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HYSlider.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>189519DE1CFD21EE0052C530</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>189519F71CFD21EE0052C530</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18951A021CFD21EF0052C530</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
